/* This is how one comments in css*/
/* Priority goes type selector/pseudo-element < class selector/attribute selector/pseudo-class < ID*/

@import "https://fonts.googleapis.com/css?family=Pacifico|Dosis";

body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

header {
    margin: 10px;
    height: 8em;
    overflow:hidden;
    text-align: center;
}

header img {
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

header h1{
    position: absolute;
    margin-top:-3em;
    font-weight: bolder;
    font-size: 1.7em;

}

h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.5em 0.5em 0.5em 0;
}

.burger_selection {
    background-color: black;
    color: white;
}

.protein_header {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.allergies {
    text-transform: uppercase;
}

.allergies_header {
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 0.2em;
}

form {
    margin-top: 1em;
}

input{
    margin-bottom: 0.5em;
}

button {
    margin: 0.3em;
}

button:hover {
    color:blueviolet;
    cursor:pointer;
}

section {
    margin: 0.3em;
    padding-left: 10px;
    border: 2px dotted;
}

footer {
    text-align: center;
    font-size: 0.7em;
    opacity: 0.5;
}

.wrapper {
    display:grid;
    margin-top: 1%;
}

.box {

}

.box img {

}

.a {
    grid-column: 1;
}

.b {
    grid-column: 2;
}

.c {
    grid-column: 3;
}

.box img {
    width: 10em;
    height: auto;
}